---
layout: people
---

<div id="faculty-container" class="font-sans" style="padding-bottom: 5rem; margin-top: 12px;">
    {% for section in site.data.people %}
    <div style="display: inline-block; padding-left: 20px; padding-right: 20px;">
        <h2 class="faculty-title text-xl font-bold"> {{ section.section_name }} </h2>
        <div class="faculty-list">
            {% for people in section.people %}
            <div class="faculty">
                {% if people.image_file %}
                <a href="{{ people.homepage }}" class="circular"
                   style="background-image: url(/assets/images/people/{{people.image_file}}); background-position: top;"
                   alt="{{ people.name }}" aria-label="{{ people.name }}">
                </a>
                {% else %}
                <a href="{{ people.homepage }}" class="circular"
                   style="background-image: url(/assets/images/default_profile.jpg); background-position: top;"
                   alt="{{ people.name }}" aria-label="{{ people.name }}">
                </a>
                {% endif %}

                <div class="faculty-caption">
                    <a href="{{ people.homepage }}" class="faculty-text">
                        <div class="faculty-text text-base"> {{ people.name | replace_first: " ", "<br>" }} </div>
                        <div class="faculty-text text-sm"> {{ people.subtitle }} </div>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endfor %}
</div>
