<div id="header">
    <div id="logo-container" style="padding: 2rem;">
        <a href="/">
            <img src="/assets/images/rdi_logo.svg"
                id="logo">
        </a>
    </div>
    <div id="nav-container">
        <div id="nav-links">
            <a href="/" class="nav-url">
                Home
            </a>
            <span class="seperator">|</span>
            <a href="/people" class="nav-url">
                People
            </a>
            <span class="seperator">|</span>
            <a href="/seminar" class="nav-url">
                Seminars
            </a>
            <span class="seperator">|</span>
            <a href="/academics" class="nav-url">
                Academics
            </a>
        </div>
        <div id="nav-image-container">
            <img src="/assets/images/nav-image.png"
                id="nav-image">
        </div>
    </div>
</div>