---
layout: default
---

<div class="slide-image-container">
  <img src="/assets/images/uc_berkeley_sunset.jpg" alt="Berkeley" class="slide-image"
    style="background-position: top" />
</div>
<!--
<div class="splide splide--slide splide--ltr splide--draggable is-active" id="splide01" style="visibility: visible;">
    <div class="splide__arrows"><button class="splide__arrow splide__arrow--prev" type="button"
            aria-controls="splide01-track" disabled="" aria-label="Previous slide"><svg
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                </path>
            </svg></button><button class="splide__arrow splide__arrow--next" type="button"
            aria-controls="splide01-track" aria-label="Next slide"><svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 40 40" width="40" height="40">
                <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                </path>
            </svg></button></div>
    <div class="splide__track" id="splide01-track">
        <ul class="splide__list" id="splide01-list" style="transform: translateX(0px);">
            <li class="splide__slide is-active is-visible" id="splide01-slide01" aria-hidden="false" tabindex="0"
                style="width: 1007px;">
                <div class="slide-image-container">
                    <img src="/assets/images/berkeley_6.jpg" alt="Berkeley" class="slide-image" style="background-position: top;">
                </div>
            </li>
            <li class="splide__slide" id="splide01-slide02" style="width: 1007px;">
                <div class="slide-image-container">
                    <img src="/assets/images/berkeley_4.jpg" alt="Berkeley" class="slide-image" style="background-position: top;">
                </div>
            </li>
            <li class="splide__slide" id="splide01-slide03" style="width: 1007px;">
                <div class="slide-image-container">
                    <img src="/assets/images/berkeley_5.jpg" alt="Berkeley" class="slide-image" style="background-position: top;">
                </div>
            </li>
        </ul>
    </div>
    <ul class="splide__pagination">
        <li><button class="splide__pagination__page is-active" type="button" aria-current="true"
                aria-controls="splide01-slide01" aria-label="Go to slide 1"></button></li>
        <li><button class="splide__pagination__page" type="button" aria-controls="splide01-slide02"
                aria-label="Go to slide 2"></button></li>
        <li><button class="splide__pagination__page" type="button" aria-controls="splide01-slide03"
                aria-label="Go to slide 3"></button></li>
    </ul>
</div>
<div id="slide-underline-container">

</div>
-->

<div id="main-text-container" style="
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
  ">
  {{ content }}
</div>

<div id="affiliated-container">
  <!-- <h2 id="affiliated-title">Join our Community</h2> -->
  <div style="font-size: 12pt; font-family: 'Open Sans', sans-serif; font-weight: 300;">
    <p>
      RDI will also act as a hub and platform for collaborations globally with other organizations and researchers, as
      exemplified in leading the first <a href="https://defi-learning.org/">Decentralized Finance MOOC</a> with
      thousands of students enrolled from over 30 countries. In addition, RDI embraces Open Source, given the spirit of
      web3 and decentralization technology, and work funded by RDI will in general be in the public domain as
      publications and open source code.
    </p>
    <p>
      For more information about the RDI Center, please join <a
        href="https://groups.google.com/g/berkeley-rdi">berkeley-rdi@googlegroups.com</a>. For students who are
      interested in learning more about research opportunities and internship programs offered by the RDI Center, please
      fill out <a
        href="https://docs.google.com/forms/d/e/1FAIpQLSfn16l-74qwGEzagjxT8ffbvShlIlZ6Zm3voiCnrh1PYJ_wvg/viewform">this
        form</a>.
    </p>
    <div style="display: flex; width: 100%;">
      <!-- <a href="https://forms.gle/eDChgjkGCZJKtpM29"
        style="width: 50%; align-content: center; justify-content: center; display: flex; text-decoration: none; padding: 5px; "> -->
      <div style="width: 50%; align-content: center; justify-content: center; display: flex; text-decoration: none; padding: 5px; ">
        <button class="our-button" id="communityBtn" style="background-color: #44BBA4; color: black;">
          Join Our Mailing List to Learn More
        </button>
      </div>
      <!-- </a> -->
      <a href="https://docs.google.com/forms/d/e/1FAIpQLSfn16l-74qwGEzagjxT8ffbvShlIlZ6Zm3voiCnrh1PYJ_wvg/viewform"
        style="width: 50%; align-content: center; justify-content: center; display: flex; text-decoration: none;padding: 5px;">
        <button class="our-button" style="background-color: #DC3D38;">
          Apply to Join Research Projects and Internships at RDI
        </button>
      </a>
    </div>
  </div>
</div>
</div>

<div id="joinBtn">
  <img id="mailList"
    src="https://www.audioanimals.co.uk/wp-content/uploads/bb-plugin/cache/Email-Logo-300x300-circle.png"
    alt="Subscribe to RDI Mailing List">
  <div id="toolTip">Subscribe to RDI Mailing List</div>
</div>

<div id="affiliated-container">
  <h2 id="affiliated-title">Affiliated Institutions and Organizations</h2>
  <div id="affiliated-images-container">
    <a href="https://engineering.berkeley.edu/" class="affiliated-link">
      <div style="width: 100%; height: 100%; display: flex">
        <img class="affiliated" src="/assets/images/eng.png" alt="Berkeley Engineering" />
      </div>
    </a>
    <a href="https://haas.berkeley.edu/" class="affiliated-link">
      <div style="
          background-color: #15284b;
          width: 100%;
          height: 100%;
          display: flex;
        ">
        <img class="affiliated" src="/assets/images/haas.svg" alt="Berkeley Haas" />
      </div>
    </a>
    <a href="https://www.law.berkeley.edu/" class="affiliated-link">
      <div style="width: 100%; height: 100%; display: flex">
        <img class="affiliated" src="/assets/images/law.svg" alt="Berkeley Law" />
      </div>
    </a>
    <a href="https://data.berkeley.edu/" class="affiliated-link">
      <img class="affiliated" src="/assets/images/cdss.jpg" alt="The CDSS Logo" />
    </a>
    <a href="https://scet.berkeley.edu/" class="affiliated-link">
      <img class="affiliated" src="/assets/images/scet.png" alt="The SCET Logo" />
    </a>
    <a href="https://simons.berkeley.edu/" class="affiliated-link">
      <img class="affiliated" src="/assets/images/simons.png" alt="The Simons Logo" />
    </a>
    <a href="https://blockchain.berkeley.edu/" class="affiliated-link">
      <img class="affiliated" src="/assets/images/blockchainatberkeley.jpg" alt="The Blockchain at Berkeley Logo" />
    </a>
    <!-- <a href="https://citris-uc.org/" class="affiliated-link">
            <img class="affiliated" src="/assets/images/citris.svg" alt="The CITRIS Logo">
        </a>
        <a href="https://bair.berkeley.edu/" class="affiliated-link">
            <img class="affiliated" src="/assets/images/bair.png" alt="The BAIR Logo">
        </a> -->
  </div>

  <!-- Use an embeded form and use JavaScript to create the pop-up effect on click -->
  <div id="modal" hidden></div>
  <div id="subscribe" hidden>
 <!-- Begin Mailchimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif;  width:600px;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://berkeley.us14.list-manage.com/subscribe/post?u=0d89bb5c8066a9533eb98759d&amp;id=c0a5c3e877" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<h2>Subscribe to Our Mailing List</h2>
<div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
<div class="mc-field-group">
	<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span>
</label>
	<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
</div>
<div class="mc-field-group">
	<label for="mce-FNAME">First Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="FNAME" class="required" id="mce-FNAME">
</div>
<div class="mc-field-group">
	<label for="mce-LNAME">Last Name  <span class="asterisk">*</span>
</label>
	<input type="text" value="" name="LNAME" class="required" id="mce-LNAME">
</div>
<div class="mc-field-group">
	<label for="mce-ORG">Organization </label>
	<input type="text" value="" name="ORG" class="" id="mce-ORG">
</div>
<div class="mc-field-group">
	<label for="mce-CATEGORY">Category </label>
	<select name="CATEGORY" class="" id="mce-CATEGORY">
	<option value=""></option>
	<option value="Academic">Academic</option>
<option value="Industry">Industry</option>
<option value="Third ChoiceOther (e.g. NGO, Government)">Third ChoiceOther (e.g. NGO, Government)</option>

	</select>
</div>
<div hidden="true"><input type="hidden" name="tags" value="7307797"></div>
	<div id="mce-responses" class="clear">
		<div class="response" id="mce-error-response" style="display:none"></div>
		<div class="response" id="mce-success-response" style="display:none"></div>
	</div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0d89bb5c8066a9533eb98759d_c0a5c3e877" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';fnames[6]='ORG';ftypes[6]='text';fnames[7]='CATEGORY';ftypes[7]='dropdown';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
<!--End mc_embed_signup-->
  </div>

  <script>
    let joinBtn = document.getElementById('joinBtn');
    let communityBtn = document.getElementById('communityBtn');
    let modal = document.getElementById('modal');
    let subscribe = document.getElementById('subscribe');
    let formclose = document.getElementById('formclose');
    let signupForm = document.getElementById('mc-embedded-subscribe-form');

    joinBtn.addEventListener('click', openSubscribeForm);
    communityBtn.addEventListener('click', openSubscribeForm);
    formclose.addEventListener('click', closeSubscribeForm);

    function openSubscribeForm() {
      modal.hidden = false;
      subscribe.hidden = false;
      document.body.style.overflow = 'hidden';
    }

    function closeSubscribeForm() {
      signupForm.reset();
      modal.hidden = true;
      subscribe.hidden = true;
      document.body.style.overflow = 'scroll';
    }
  </script>
</div>
