---
layout: default
---

<div class="slide-image-container">
    <img src="/assets/images/uc_berkeley_sunset.jpg" alt="Berkeley" class="slide-image" style="background-position: top;">
</div>
<!--
<div class="splide splide--slide splide--ltr splide--draggable is-active" id="splide01" style="visibility: visible;">
    <div class="splide__arrows"><button class="splide__arrow splide__arrow--prev" type="button"
            aria-controls="splide01-track" disabled="" aria-label="Previous slide"><svg
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                </path>
            </svg></button><button class="splide__arrow splide__arrow--next" type="button"
            aria-controls="splide01-track" aria-label="Next slide"><svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 40 40" width="40" height="40">
                <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                </path>
            </svg></button></div>
    <div class="splide__track" id="splide01-track">
        <ul class="splide__list" id="splide01-list" style="transform: translateX(0px);">
            <li class="splide__slide is-active is-visible" id="splide01-slide01" aria-hidden="false" tabindex="0"
                style="width: 1007px;">
                <div class="slide-image-container">
                    <img src="/assets/images/berkeley_6.jpg" alt="Berkeley" class="slide-image" style="background-position: top;">
                </div>
            </li>
            <li class="splide__slide" id="splide01-slide02" style="width: 1007px;">
                <div class="slide-image-container">
                    <img src="/assets/images/berkeley_4.jpg" alt="Berkeley" class="slide-image" style="background-position: top;">
                </div>
            </li>
            <li class="splide__slide" id="splide01-slide03" style="width: 1007px;">
                <div class="slide-image-container">
                    <img src="/assets/images/berkeley_5.jpg" alt="Berkeley" class="slide-image" style="background-position: top;">
                </div>
            </li>
        </ul>
    </div>
    <ul class="splide__pagination">
        <li><button class="splide__pagination__page is-active" type="button" aria-current="true"
                aria-controls="splide01-slide01" aria-label="Go to slide 1"></button></li>
        <li><button class="splide__pagination__page" type="button" aria-controls="splide01-slide02"
                aria-label="Go to slide 2"></button></li>
        <li><button class="splide__pagination__page" type="button" aria-controls="splide01-slide03"
                aria-label="Go to slide 3"></button></li>
    </ul>
</div>
<div id="slide-underline-container">

</div>
-->


<div id="main-text-container" style="font-size: 12pt; font-family: 'Open Sans', sans-serif; font-weight: 300;">
    {{ content }}
</div>

<div id="affiliated-container" >
    <!-- <h2 id="affiliated-title">Join our Community</h2> -->
    <div style="font-size: 12pt; font-family: 'Open Sans', sans-serif; font-weight: 300;">
        <p>
            RDI will also act as a hub and platform for collaborations globally with other organizations and researchers, as exemplified in leading the first <a href="https://defi-learning.org/">Decentralized Finance MOOC</a> with thousands of students enrolled from over 30 countries. In addition, RDI embraces Open Source, given the spirit of web3 and decentralization technology, and work funded by RDI will in general be in the public domain as publications and open source code.
        </p>
        <p>
            For more information about the RDI Center, please join <a href="https://groups.google.com/u/2/g/berkeley-rdi">berkeley-rdi@googlegroups.com</a>. For students who are interested in learning more about research opportunities and internship programs offered by the RDI Center, please fill out <a href="https://docs.google.com/forms/d/e/1FAIpQLSfn16l-74qwGEzagjxT8ffbvShlIlZ6Zm3voiCnrh1PYJ_wvg/viewform">this form</a>. 
        </p>
        <div style="display: flex; width: 100%;">
            <a href="https://groups.google.com/g/berkeley-rdi" style="width: 50%; align-content: center; justify-content: center; display: flex; text-decoration: none; padding: 5px; ">
                <button class="our-button" style="background-color: #44BBA4; color: black;">
                    Join Our Community to Learn More
                </button>
            </a>
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSfn16l-74qwGEzagjxT8ffbvShlIlZ6Zm3voiCnrh1PYJ_wvg/viewform" style="width: 50%; align-content: center; justify-content: center; display: flex; text-decoration: none;padding: 5px;">
                <button class="our-button" style="background-color: #DC3D38;">
                    Apply to Join Research Projects and Internships at RDI
                </button>
            </a>
        </div>
    </div>
</div>

<div id="affiliated-container">
    <h2 id="affiliated-title">Affiliated Institutions and Organizations</h2>
    <div id="affiliated-images-container">
        <a href="https://engineering.berkeley.edu/" class="affiliated-link" >
            <div style="width: 100%; height: 100%; display: flex;">
                <img class="affiliated" src="/assets/images/eng.png" alt="Berkeley Engineering">
            </div>
        </a>
        <a href="https://haas.berkeley.edu/" class="affiliated-link" >
            <div style="background-color: #15284b; width: 100%; height: 100%; display: flex;">
                <img class="affiliated" src="/assets/images/haas.svg" alt="Berkeley Haas">
            </div>
        </a>
        <a href="https://www.law.berkeley.edu/" class="affiliated-link" >
            <div style="width: 100%; height: 100%; display: flex;">
                <img class="affiliated" src="/assets/images/law.svg" alt="Berkeley Law">
            </div>
        </a>
        <a href="https://data.berkeley.edu/" class="affiliated-link">
            <img class="affiliated" src="/assets/images/cdss.jpg" alt="The CDSS Logo">
        </a>
        <a href="https://scet.berkeley.edu/" class="affiliated-link">
            <img class="affiliated" src="/assets/images/scet.png" alt="The SCET Logo">
        </a>
        <a href="https://simons.berkeley.edu/" class="affiliated-link">
            <img class="affiliated" src="/assets/images/simons.png" alt="The Simons Logo">
        </a>
        <a href="https://blockchain.berkeley.edu/" class="affiliated-link">
            <img class="affiliated" src="/assets/images/blockchainatberkeley.jpg" alt="The Blockchain at Berkeley Logo">
        </a>
        <!-- <a href="https://citris-uc.org/" class="affiliated-link">
            <img class="affiliated" src="/assets/images/citris.svg" alt="The CITRIS Logo">
        </a>
        <a href="https://bair.berkeley.edu/" class="affiliated-link">
            <img class="affiliated" src="/assets/images/bair.png" alt="The BAIR Logo">
        </a> -->
    </div>
</div>

